@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-color: #DCFCE7;
    font-family: 'Roboto', sans-serif;
}

.social {
    float: right;
    margin-top: -2%;
    font-weight: bold;
}

.mobile {
    font-weight: bold;
}

.navbar {
    background-color: #15803d;
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    /* width: auto; */
    height: 130px;
}

.icon {
    margin: 8px;
    text-decoration: none;
    color: #DCFCE7;
    text-transform: uppercase;
}

.icon:hover {
    color: #DCFCE7;
    width: 6px;
}

.logo {
    width: 9%;
}

hr {
    color: #DCFCE7;
}

span {
    color: #DCFCE7;
    width: 13px;
}

#myVideo {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: -62px;
    bottom: 0;
    z-index: 1;
    margin-left: -0.7%;
}

.container {
    margin-top: 8.5%;
    height: 100%;
}

h1,
h2 {
    color: #15803d;
    font-weight: bolder;
    text-align: center;
}

h1 {
    font-size: 70px;
    margin-top: 30vh;
}

h2 {
    font-size: 3rem;
}

.content {
    margin-top: -45%;
}