@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-color: #DCFCE7;
    font-family: 'Roboto', sans-serif;
}

.social {
    float: right;
    margin-top: -2%;
    color: #DCFCE7;
    font-weight: bold;
}

.phone {
    color: #DCFCE7;
    font-weight: bold;
}

.navbar {
    background-color: #15803d;
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 130px;
}

.icon {
    margin: 8px;
    text-decoration: none;
    color: #DCFCE7;
    text-transform: uppercase;
}

.icon:hover {
    color: #DCFCE7;
    width: 6px;
}

.logo {
    width: 9%;
}

hr {
    color: #DCFCE7;
}

span {
    color: #DCFCE7;
    width: 13px;
}

.back{
    margin-top: -1%;
    width: 40%;
}
.s1{
    margin-left:45%;
    margin-bottom: 100px;
    margin-top: 50px;
    
    
}
.s2{
    margin-bottom:200px;
}

.btn{
 margin-left: 10px;
 margin-top: -400px;
 margin-left: 750px;

}
/* .btn3{
    margin-top: 200px;
} */
button{
    background-color: #15803d;
    padding:10px 70px 35px 200px;
    border-radius: 10px;
    margin-right: 6px;
    margin-left:-40px;
    height:10px;
    border-radius: 10px;
}
.btn a{
text-decoration: none;
text-align: left;
color: #15803d;
}

 /* .btn5{
    margin-top: 320px; 
} */
.john{
    border: 2px solid black;
    padding:10px 70px 20px 150px;
    border-radius: 10px;
    margin-left: 10px;
    height:20px;
}
 .btn2{
    min-height: 50vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */

    height:200px;
} 
.card{
    border-radius: 8px;
    background-color: #15803d;
    color: #DCFCE7;
    margin-left: 180px;
    margin-top: 300px;
    height: 490px;
    width:340px;

} 
.card-image{
    position: relative;
    height:150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 40px;
    /* background-color: white; */
    padding: 3px;
}
.card-image .card-img{
    height: 100px;
    width: 100%;
    object-fit: cover;
    
    /* border-radius: solid #15803d; */

}
.name, .description{
    text-align: center;
}
.cardi{
    border-radius: 8px;
    background-color: #15803d;
    color: #DCFCE7;
    margin-left: 700px;
    margin-top: -500px;
    height: 490px;
    width:340px;
     
 
}
.cardii{
    border-radius: 8px;
    background-color: #15803d;
    color: #DCFCE7;
    margin-left: 1200px;
    margin-top: -910px;
    height: 490px;
    width:340px;
    
 
}
.cardiii{
    border-radius: 8px;
    background-color: #15803d;
    color: #DCFCE7;
    margin-left: 1600px;
    margin-top: -900px;
    height: 520px;
}
.btn5{
    margin-top: 300px;

}
.name{
    color: white;
    font-size: medium;
    margin-top:30px;
}
.title{
    color: brown;
    text-align: center;
   
}
@media screen and (max-width: 641px){
    /* smartphone,iphone,portrait 480x320 phone */
    
    
}