@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-color: #DCFCE7;
    font-family: 'Roboto', sans-serif;
    /* overflow: scroll; */
}

.container{
    background-color: #DCFCE7;
}
.social {
    float: right;
    margin-top: -2%;
    color: #DCFCE7;
    font-weight: bold;
    margin-right: 50px;
}

.phone {
    color: #DCFCE7;
    font-weight: bold;
    margin-left: 50px;
}

.navbar {
    background-color: #15803d;
    display: block;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 130px;
    z-index: 999;
}

.icon {
    margin: 8px;
    text-decoration: none;
    color: #DCFCE7;
    text-transform: uppercase;
}

.icon:hover {
    color: #DCFCE7;
    width: 6px;
}

.logo {
    width: 9%;
    margin-left: 50px;
}

hr {
    color: #DCFCE7;
}

span {
    color: #DCFCE7;
    width: 13px;
}

.content{
    /* background-image: url(../image/background_image/about-bg.jpg); */
    background-size: cover;
    opacity: 80%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.content-title{
    background-image: url(../image/background_image/about-bg.jpg);
    background-size: cover;
    /* opacity: 80%; */
    object-fit: cover;
    background-repeat: no-repeat;
}

.title1{
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    color: #15803d;
    /* margin-top: 62px; */
    background-color: #DCFCE7;
    opacity: 70%;
    font-weight: bold;
    margin-top: 10.3%;
}


footer {
    background-color: #15803d;
    padding: 7%;
}

.rowfooter {
    display: flex;
    flex-direction: row;
    margin-top: -5%;
    justify-content: space-between;
}

.aboutcol {
    width: 30%;
}

.tourcol {
    width: 30%;
    text-align: center;
}

.contactuscol {
    width: 30%;
}

.aboutus_h {
    font-size: 22px;
    color: #dcfce7;
    font-weight: bolder;
}

.contactus_p {
    font-size: 15px;
    font-weight: bolder;
    color: #dcfce7;
    margin-left: 20%;
}

.aboutus_p {
    font-size: 15px;
    font-weight: bolder;
    color: #dcfce7;
}

.contactus_h {
    text-align: center;
    font-size: 22px;
    color: #dcfce7;
    font-weight: bolder;
}

.footer_image {
    border-radius: 5%;
    margin-left: 25%;
}

.footericon {
    font-size: 22px;
    color: #dcfce7;
    font-weight: bolder;
}

.logo_footer {
    width: 40%;
    margin-top: 15%;
}

.img_footer {
    width: 80%;
}

.bottom {
    font-size: 15px;
    color: #dcfce7;
    font-weight: bolder;
    text-align: center;
}

@media (max-width: 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .row,
    .rowtype {
        flex-direction: column;
        text-align: center;
        margin-left: 5%;
    }
    .column-dest {
        width: 100%;
        display: block;
        float: center;
    }
    .col_type {
        margin-left: 20%;
        text-align: center;
    }
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

.loader {
    position: relative;
    width: 120px;
    height: 90px;
    margin: 0 auto;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #2a9d8f;
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
    animation: loading-step 1s ease-in-out infinite;
  }
  
  @keyframes loading-bounce {
    0% {
      transform: scale(1, 0.7);
    }
  
    40% {
      transform: scale(0.8, 1.2);
    }
  
    60% {
      transform: scale(1, 1);
    }
  
    100% {
      bottom: 140px;
    }
  }
  
  @keyframes loading-step {
    0% {
      box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
              0 10px 0 #f2f2f2,
              -35px 50px 0 #f2f2f2,
              -70px 90px 0 #f2f2f2;
    }
  
    100% {
      box-shadow: 0 10px 0 #f2f2f2,
              -35px 50px 0 #f2f2f2,
              -70px 90px 0 #f2f2f2,
              -70px 90px 0 rgba(0, 0, 0, 0);
    }
  }
