            .container {
                margin-top: 8.5%;
                height: 100%;
            }
            
            h1,
            h2 {
                color: #15803d;
                font-weight: bolder;
                text-align: center;
            }
            
            h1 {
                font-size: 70px;
                margin-top: 30vh;
            }
            
            h2 {
                font-size: 3rem;
            }
            
            .p {
                margin-top: -2%;
                color: aliceblue;
                font-size: 16px;
            }
            
            .row-card {
                display: flex;
                margin-left: -1%;
                margin-top: 4%;
                justify-content: space-between;
            }
            
            .row-card3 {
                display: flex;
                margin-left: -1%;
                margin-top: 4%;
                justify-content: space-between;
            }
            
            .row-card4 {
                display: flex;
                margin-left: -1%;
                margin-top: 4%;
                justify-content: space-between;
            }
            
            .row-card2 {
                display: flex;
                margin-left: -1%;
                margin-top: 4%;
                justify-content: space-between;
            }
            
            .arrow_icon {
                float: right;
            }
            
            .p {
                margin-top: -2%;
                color: aliceblue;
                font-size: 16px;
            }
            
            .column {
                float: center;
                width: 25%;
                height: 15%;
                margin-bottom: 16px;
                padding: 0 8px;
                margin-left: 2%;
            }
            
            .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                height: 105%;
                border-radius: 5px;
                background-color: #15803d;
            }
            
            .container-card {
                padding: 10px;
                padding-bottom: 10%;
            }
            
            .teamimg {
                height: 50%;
                border-radius: 4px;
            }
            
            .tourdescr {
                font-size: 20px;
                text-transform: uppercase;
                color: white;
            }
            
            .container-card::after,
            .row-card-dest::after .row-card::after {
                content: "";
                clear: both;
                display: table;
            }
            
            .button {
                border: 1px solid white;
                text-decoration: none;
                border-radius: 8px;
                display: inline-block;
                padding: 5px;
                color: white;
                background-color: transparent;
                text-align: center;
                cursor: pointer;
                width: 95%;
            }
            
            .button:hover {
                border: 2px solid white;
            }
            
            .popular_tour {
                font-size: 22px;
                margin-top: -20%;
                text-transform: capitalize;
            }
            
            .descrtour {
                color: white;
                text-align: justify;
            }
            
            .arrow_icon {
                float: right;
            }
            
            @media screen and (max-width: 650px) {
                .container {
                    margin-top: 34%;
                    height: 100%;
                    width: 100%;
                }
                .row-card {
                    flex-direction: column;
                    margin-left: 4%;
                    margin-top: -120%;
                }
                .row-card2 {
                    flex-direction: column;
                    margin-left: 4%;
                    margin-top: 10%;
                }
                .row-card3 {
                    flex-direction: column;
                    margin-left: 4%;
                    margin-top: 10%;
                }
                .row-card4 {
                    flex-direction: column;
                    margin-left: 4%;
                    margin-top: 10%;
                }
                .column {
                    float: center;
                    width: 90%;
                    height: 15%;
                    margin-bottom: 16px;
                    padding: 0 8px;
                    margin-bottom: 10%;
                    /* margin-left: 2%; */
                }
                .card {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    height: 105%;
                    border-radius: 5px;
                    background-color: #15803d;
                }
                .taketour {
                    background-color: #DCFCE7;
                }
            }
            
            @media screen and (max-width: 900px) and (min-width: 600px) and (orientation: portrait) {
                .row-card {
                    margin-left: 4%;
                    margin-top: -80%;
                }
                .row-card2 {
                    margin-left: 4%;
                    margin-top: 10%;
                }
                .row-card3 {
                    margin-left: 4%;
                    margin-top: 10%;
                }
                .row-card4 {
                    margin-left: 4%;
                    margin-top: 10%;
                }
                .popular_tour {
                    font-size: 22px;
                    margin-top: -80%;
                    text-transform: capitalize;
                }
            }